@media (max-width: 2150px) {
  .snapper-item {
    width: 1100px;
  }
}
@media (max-width: 1150px) {
  .snapper-item {
    width: 580px;
  }
}
@media (max-width: 780px) {
  .snapper-item {
    width: 400px;
  }
}
@media (max-width: 480px) {
  p {
    margin-right: 5px;
    margin-left: 5px;
  }
  .snapper-item {
    width: 250px;
  }
}
